*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    background-color: #212529;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.users-container, .create-user-container{
    border: 1px solid #DEDEDF;
    border-radius: 5px;
    padding: 20px;
}

.users-container{
    display: flex;
    flex-direction: column;
    margin: 20px 10%;
    gap: 20px;
}

.users{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-card{
    border: 1px solid #DEDEDF;
    border-radius: 10px;
}

.user-info{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #DEDEDF;
}

.user-buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    gap: 10px;
    button{
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 5px;
    width: 100%;
    }
}

.delete{
    border: red solid 1px;
    color: red;
}

.edit{
    border: black solid 1px;
    color: black;
}

.create-user-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "create-user"
    "create-user-area";
    margin: 0px 10% 20px 10%;
    gap: 10px;
    h2{
        grid-area: create-user;
    }
    button{
        width: 100%;
        border: none;
        background-color: #212529;
        color: white;
        border-radius: 5px;
        height: 30px;
        align-self: flex-end;
    }
}

.create-user-area{
    grid-area: create-user-area;
    display: flex;
    justify-content: space-between;
}

.create-user-info{
    display: flex;
}

.create-username, .create-age, .create-email{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 300px;
    gap: 10px;
    input{
    height: 2em;
    border: 1px solid #DEDEDF;
    }
}